@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1e1e1e;
}

.bg-text-gradient {
  background: linear-gradient(
    45deg,
    rgba(199, 120, 221, 1) 41%,
    rgba(70, 87, 233, 1) 78%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
